<div class="home-container">
    <section class="hero-section">
        <h1 class="i-am-a">I am a</h1>
        <h1 class="words">
            <span class="software">SOFTWARE DEVELOPER</span>
            <span class="graphics">GRAPHICS DESIGNER</span>
        </h1>
        <section class="description">
            <p>With Programming & Designing Knowledge</p>
            <button class="hire-me-button">
                <span class="fa fa-paper-plane icons"></span>Hire me
            </button>
        </section>
    </section>
</div>