<div class="home-container">
    <section class="hero-section">
        <h1 class="i-am-a">{{homeTitle}}</h1>
        <h1 class="words">
            <span class="software">{{expertise[0] | uppercase}}</span>
            <span class="graphics">{{expertise[1] | uppercase}}</span>
        </h1>
        <section class="description">
            <p>{{homeDescription}}</p>
            <button class="hire-me-button">
                <span class="{{buttonIcon}}"></span>{{buttonLabel}}
            </button>
        </section>
    </section>
</div>
<div>

</div>