<nav>
    <ul class="navigation-bar">
        <section class="navigation-title">
            <li routerLink="/">{{name}}</li>
        </section>
        <section class="navigation-menu">
            <li *ngFor="let menu of menuList" routerLink="/{{menu.Link}}" class="navigation-menu-item dissapear">
                <span class="{{menu.Icon}}"></span>
                {{menu.Name}}
            </li>
            <li class="burger-menu navigation-menu-item">
                <span class="fas fa-bars"></span>
            </li>
        </section>
    </ul>
</nav>
<nav class="full-page-navigation"></nav>