<nav>
    <ul class="navigation-bar">
        <section class="navigation-title">
            <li>Ananta Poudel</li>
        </section>
        <section class="navigation-menu">
            <li class="navigation-menu-item">
                <span class="fa"></span>
                Skills
            </li>
            <li class="navigation-menu-item">
                <span class="fa"></span>
                Education
            </li>
            <li class="navigation-menu-item">
                <span class="fa"></span>
                Projects
            </li>
            <li class="navigation-menu-item">
                <span class="fa"></span>
                Contact
            </li>
            <li class="burger-menu">
                <span class="fa fa-bars"></span>
            </li>
        </section>
    </ul>
</nav>
<nav class="full-page-navigation"></nav>